<div style="text-align:center">
  <h1>
    Memory Game [{{points}} Points]
  </h1>
  <h2 [ngStyle]="error?{'color': 'red'}:''">{{message}}</h2>  
  <button (click)="resetGame()">Reset Game</button>   
</div>
<div class="center-align">
  <ul>
    <li *ngFor="let item of cards; index as i">
      <div class="card center-align" (click)="turn(item)" [ngStyle]="{'background-color': item.color}">
        <h2>{{item.showValue ? item.value : verseCardValue}}</h2>
      </div>
      <p></p>
    </li>
  </ul>
</div>